body {
  margin: 0;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* основной экран */
.question-container {
  position: relative;
  text-align: center;
  color: white;
}

.local-gif {
  max-width: 280px;
  margin-bottom: 1.5rem;
  pointer-events: none;
}

.question {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.button-container {
  position: relative;
  height: 80px;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  background: #ff5a4a;
  color: white;
  box-shadow: 0 4px 15px rgba(255,107,129,.5);
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.no {
  position: absolute;
  left: 140px;
}

/* белый экран загрузки */
.loading-screen {
  position: fixed;
  inset: 0;
  background: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading-screen img {
  width: 120px;
}

/* финал */
.result {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}

.result img {
  max-width: 280px;
}

.result p {
  font-size: 2.2rem;
  margin-top: 1rem;
  color: black;
}
